.head{
	width: 100%;
	height: 40px;
	background: #333;
}
.head-con{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
.left{
	width: 554px;
	height: 100%;
	float: left;
}
.head-con .text{
	font-size: 12px;
	color: #94b0a4;
	float: left;
	line-height: 40px;
}
.head-con .text:hover{
	color: #fff;
}
.line{
	font-size: 12px;
	color: #94b0a4;
	float: left;
	line-height: 40px;
}
/* .text:hover{
	color: #fff;
} */
.right{
	width: 250px;
	height: 40px;
	float: right;
}
.text box{
	width: 130px;
	height: 100%;
	color: #94B0A4;
	float: left;
	font-size: 12px;
	line-height: 40px;
}
.text line{
	font-size: 12px;
	float: left;
	margin: 0 7px;
	color: #94b0a4;
	line-height: 40px;
}
.head-con .car{
	width: 120px;
	height: 100%;
	font-size: 12px;
	color: #94B0A4;
	float: right;
	text-align: center;
	line-height: 40px;
	background: #424242;
}
.car:hover{
	color: #fff;
	}
.mid{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}
.biaozhi img{
	margin-top: 22.5px;
	float: left;
}
.head2{
	width: 980px;
	height: 50px;
	float: right;
	margin-top: 25px;
}
.fenlei{
	height: 50px;
	float: left;
}
.head2 .fenlei .text1{
	color: #333;
	font-size: 16px;
	margin: 0 10px;
	line-height: 50px;
	float: left;
}
.text1:hover{
	color: #ff6700;
}
.feilei:hover{
	color: #ff6700;
}
.sousuo{
	height: 50px;
	width: 300px;
	float: right;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
}
.shuru{
	width: 243px;
	height: 48px;
	float: left;
}
.head2 .sousuo .text2{
	height: 18px;
	font-size: 12px;
	color: #757575;
	float: right;
    line-height: 18px;	
	margin-left: 4px;
	margin-top: 16px;
	background: #eee;
}
.text2:hover{
	color: #fff;
	background: #FF6700;
}
.sou{
	width: 54px;
	height: 48px;
	float: right;
	text-align: center;
	line-height: 50px;
	border-left: 1px solid #e0e0e0;
	box-sizing: border-box;
}
.sou:hover{
	background: #ff6700;
}

/* banner开始 */
.banner{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	position: relative;
}
.banner-img{
	width: 1226px;
	height: 460px;
	background: skyblue;
	position: absolute;
	left: 0;
	top: 0;
}
ul,li{
	list-style: none;
}
.banner-img>ul>li{
	width: 1226px;
	height: 460px;
	position: absolute;
    left: 0;
	right: 0;
}
.banner-img>ul>li:hover{
	background: #ff6700;
}
.banner-img>ul>li>img{
	width: 100%;
	height: 100%;
}
.banner-list{
	width: 234px;
	height: 460px;
	background: rgb(0,0,0,0.6);
	position: absolute;
	left: 0;
	top: 0;
}
.banner-list>ul{
	width: 100%;
	height: 100%;
	padding: 20px 0;
	box-sizing: border-box;
}
.banner-list>ul>li{
	width: 100%;
	height: 42px;
	cursor: pointer;
}
.banner-list>ul>li:hover{
	background: #ff6700;
	transition: all 0.2s;
}
.banner-list .text{
	font-size: 16px;
	line-height: 42px;
	color: #fff;
	float: left;
	margin-left: 30px;
}
.banner-list .arrow{
	font-size: 16px;
	line-height: 42px;
	color: #ced0d2;
	float: right;
	margin-right: 23px;
}
.banner-point{
	width: 125px;
	height: 10px;
	position: absolute;
	right: 0;
	bottom: 25px;
}
.banner-point>div{
	margin-right: 35px;
	float: right;
}
.banner-point>div .selected{
	background: rgb(0,0,0,0);
	border: 2px solid rgb(0,0,0,0.5);
}
.banner-point>div>div{
	widows: 10px;
	height: 10px;
	background: rgb(0,0,0,0.5);
	float:left;
	margin-left: 10px;
	border-radius: 50%;
	border: 2px solid rgb(255,255,255,0.2);
	box-sizing: border-box;
	cursor: pointer;
}
.banner-move{
	background: rgb(0,0,0,0.6);
	width: 41px;
	height: 69px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.move-left{
	left: 234px;
	border-radius-top-right: 5px;
	border-radius-bottom-right: 5px;

}
.move-right{
	right:0;
	background-position: -42px 0;
	border-radius-top-left: 5px;
	border-radius-bottom-left: 5px;
	background-repeat: no-repeat;
}
/* banner结束 */

/* 小米play开始 */
.play{
	width: 1226px;
	height: 120px;
	margin: 43px auto;
	background: #008000;
}
.play:hover{
	cursor: pointer;
}
.play>img{
	width: 1226px;
	height: 120px;
}
/* 小米play结束 */

/* 家电开始 */
.jiadian{
	width: 1226px;
	height: 686px;
	margin: 0 auto;
}
.jiadian-top{
	width: 1226px;
	height: 58px;
}
.jiadian-top .left-box{
	width: 48px;
	height: 58px;
	font-size: 22px;
	color: #3d3d3d;
	float: left;
	line-height: 58px;
	text-align: center;
}

.jiadian-top .right-box{
	height: 58px;
	float: right;
	text-align: center;
}
.jiadian-top .right-box .text{
	font-size: 18px;
	color: #3d3d3d;
	float: right;
	margin-left: 30px;
  line-height: 58px;
}
.jiadian-bottom .left-box{
	height: 628px;
	width: 234px;
	float: left;
}
.jiadian-bottom .left-box .top-box{
	height: 300px;
	width: 100%;
	background: red;
}
.jiadian-bottom .left-box .top-box:hover{
	transform: translateY(-3px);
	transition: all 0.5s;
	box-shadow: 0 3px 20px 5px #CAC2C2;
}
.jiadian-bottom .left-box .bottom-box{
	height: 300px;
	width: 100%;
	background: red;
	margin-top: 14px;
}
.jiadian-bottom .left-box .bottom-box:hover{
	transform: translateY(-3px);
	transition: all 0.5s;
	box-shadow: 0 3px 20px 5px #CAC2C2;
}
.jiadian-bottom .left-box .top-box>img{
	width: 100%;
	height: 100%;
}
.jiadian-bottom .left-box .bottom-box>img{
	width: 100%;
	height: 100%;
}
.jiadian-bottom .right-box{
	height: 628px;
	width: 992px;
	float: right;
}
.jiadian-bottom .right-box>ul{
	height: 628px;
	width: 992px;
}
.jiadian-bottom .right-box>ul>li{
	width: 234px;
	height: 300px;
	background:#fff;
	margin-left: 14px;
	margin-bottom: 14px;
	float: left;
}
.jiadian-bottom .right-box>ul>li:hover{
	transform: translateY(-3px);
	transition: all 0.5s;
	box-shadow: 0 3px 20px 5px #CAC2C2;
}
.jiadian-bottom .right-box .last{
	background: #f5f5f5;
	box-shadow: none;
}
.jiadian-bottom .right-box .top-box{
	width: 65px;
	height: 20px;
	margin: 0 auto;
	background: #83c44e;
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
}
.jiadian-bottom .right-box>ul>li>img{
	width: 150px;
	height:150px;
	margin: 20px 42px;
    
}
.jiadian-bottom .right-box .middle-text{
	font-size: 16px;
	color: #979797;
	text-align: center;
	
}
.jiadian-bottom .right-box .bottom-text{
	font-size: 12px;
	color: #d6d6d6;
	text-align: center;
	margin-top: 7px;
}
.jiadian-bottom .right-box .price{
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}
.jiadian-bottom .right-box .price>span{
	color: #ff7517;
}
.jiadian-bottom .right-box .price>del{
	color: #d6d6d6;
	margin-right: 5px;
}
.jiadian-bottom .right-box .up{
	width: 100%;
	height: 143px;
	position: relative;
	background: #fff;
}
.jiadian-bottom .right-box .up:hover{
	transform: translateY(-3px);
	transition: all 0.5s;
	box-shadow: 0 3px 20px 5px #CAC2C2;
}
.jiadian-bottom .right-box .up>img{
	width: 63px;
	height: 63px;
	margin: 44px 20px 40px 151px;
}
.jiadian-bottom .right-box .up .text{
	color: #535353;
	font-size: 14px;
	position: absolute;
	left: 30px;
	top: 44px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.jiadian-bottom .right-box .up .price{
		color: #ff9751;
		font-size: 14px;
		position: absolute;
		left: 30px;
		top: 71px;
}
.jiadian-bottom .right-box .down{
	width: 100%;
	height: 143px;
	margin-top: 14px;
	position: relative;
	background: #fff;
}
.jiadian-bottom .right-box .down:hover{
	transform: translateY(-3px);
	transition: all 0.5s;
	box-shadow: 0 3px 20px 5px #CAC2C2;
}
.jiadian-bottom .right-box .down .text{
	color: #535353;
	font-size: 20px;
	position: absolute;
	left: 30px;
	top: 54px;
}
.jiadian-bottom .right-box .down .price{
		color: #c0c0c0;
		font-size: 12px;
		position: absolute;
		left: 30px;
		top: 82px;
}
/* 家电结束 */


/* 手机开始 */
.shouji{
	width: 1226px;
	height: 686px;
	margin: 0 auto;
}
.shouji-top{
	width: 1226px;
	height: 58px;
}
.shouji-top .left-box{
	width: 48px;
	height: 58px;
	font-size: 22px;
	color: #3d3d3d;
	float: left;
	line-height: 58px;
	text-align: center;
}
.shouji-top .right-box{
	height: 58px;
	float: right;
	text-align: center;
}
.shouji-top .right-box .text{
	font-size: 18px;
	color: #3d3d3d;
	float: right;
	margin-left: 30px;
    line-height: 58px;
}
.shouji-bottom .left-box{
	height: 628px;
	width: 234px;
	float: left;
}
.shouji-bottom .left-box>img:hover{
	transform: translateY(-3px);
	transition: all 0.5s;
	box-shadow: 0 3px 20px 5px #CAC2C2;
}
.shouji-bottom .left-box>img{
	width: 100%;
	height: 614px;
}

.shouji-bottom .right-box{
	height: 628px;
	width: 992px;
	float: right;
}
.shouji-bottom .right-box>ul{
	height: 628px;
	width: 992px;
}
.shouji .right-box>ul>li{
	width: 234px;
	height: 300px;
	background:#fff;
	margin-left: 14px;
	margin-bottom: 14px;
	float: left;
}
.shouji .right-box>ul>li:hover{
	transform: translateY(-3px);
	transition: all 0.5s;
	box-shadow: 0 3px 20px 5px #CAC2C2;

}
.shouji .right-box .top-box{
	width: 65px;
	height: 20px;
	margin: 0 auto;
	background: #83c44e;
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
}
.shouji-bottom .right-box>ul>li>img{
	width: 150px;
	height:150px;
	margin: 20px 42px;
    
}
.shouji-bottom .right-box .middle-text{
	font-size: 16px;
	color: #979797;
	text-align: center;
	
}
.shouji-bottom .right-box .bottom-text{
	font-size: 12px;
	color: #d6d6d6;
	text-align: center;
	margin-top: 7px;
}
.shouji-bottom .right-box .price{
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}
.shouji-bottom .right-box .price>span{
	color: #ff7517;
}
.shouji-bottom .right-box .price>del{
	color: #d6d6d6;
	margin-right: 5px;
}
/* 手机结束 */

/* AI开始 */
.ai{
	width: 1226px;
	height: 120px;
	margin: 43px auto;
	background: #008000;
}
.ai:hover{
	cursor: pointer;
}
.ai>img{
	width: 1226px;
	height: 120px;
}
/* AI结束 */

/* 小米play开始 */
.airconditioner{
	width: 1226px;
	height: 120px;
	margin: 43px auto;
	background: #008000;
}
.airconditioner>img{
	width: 1226px;
	height: 120px;
}
/* 小米play结束 */


/* ad开始 */
.ad{
	width: 1226px;
	height: 170px;
	margin: 15px auto;
}
.ad>ul{
	width: 100%;
	height: 100%;
}
.ad>ul>li{
	width: 315.66px;
	height: 170px;
	background: green;
	margin-left: 15px;
	float: left;
}
.ad>ul>li:hover{
	box-shadow: 0 3px 10px 5px #cac2c2;
}
.ad>ul .activity{
	width: 234px;
	height: 100%;
	margin-left: 0;
	background: #5f5750;
}
.ad>ul .activity:hover{
	box-shadow: none;
}
.ad>ul>li>img{
	width: 315.66px;
	height: 170px;
}
/* ad结束 */


/* 小米闪购top开始 */
.xiaomishangou{
	width: 1226px;
	height: 58px;
	margin: 0 auto;
}
.shangou{
	height: 58px;
	float: left;
}
.xiaomishangou .shangou .text3{
	font-size: 24px;
	text-align: center;
	line-height: 58px;
	color: #4e4e4e;
}
.fanye{
	width: 72px;
	height: 26px;
	float: right;
	margin-top: 16px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
}
.zuo{
	width: 34.5px;
	height: 24px;
	float: left;
	border-right: 1px solid #e0e0e0;
	text-align: center;
	color: #e0e0e0;
}
.you{
	width: 34.5px;
	height: 24px;
	float: right;
	text-align: center;
    color: #b0b0b0;
}
.you:hover{
	color: #FF6700;
}
/* 小米闪购top结束 */


/* 小米闪购bottom开始 */
.shangou-bottom{
	width: 1226px;
	height: 380px;
	margin: 0 auto;
	position: relative;
}
.shangou-bottom>ul{
	width: 1266px;
	height: 380px;
}
ul,li{
	list-style: none;
}
.shangou-bottom>ul>li{
	width: 234px;
	height: 380px;
	background: #fafafa;
	margin-left: 14px; 
	float: left;
	text-align: center;
	cursor: pointer;
}
.shangou-bottom .left1{
	margin-left: 0;
	background: #f1eded;
}
.shangou-bottom>ul,li{
	list-style: none;
}

.left1-time{
	margin-top: 60px;
	font-size: 22px;
	color: #ef3031;
	text-align: center;
}
.shangou-bottom .left1>img{
	margin-top: 30px;
	width: 34px;
	height: 53px;
}
.left1-text4{
	margin-top: 33px;
	font-size: 16px;
	text-align: center;
	color: #898787;
}
.left1-box{
	width: 168px;
	height: 46px;
	margin: 0 auto;
	margin-top: 32px;
}
.shangou-bottom .left1 .time{
	width: 46px;
	height: 46px;
	background: #605751;
	float: left;
	line-height: 46px;
	font-size: 20px;
	color: #fff;
}
.dian{
	width: 15px;
	height: 46px;
	float: left;
	color: #605751;
	line-height: 46px;
	font-size: 20px;

}
.red-box{
	width: 64px;
	height: 22px;
	background: #e53935;
	margin: 0 auto;
	font-size: 14px;
	color: #fff;
	line-height: 22px;
}
.shangou-bottom>ul>li>img{
	width: 133px;
	height: 133px;
	margin-top: 35px;
}

.text5{
	font-size: 14px;
	color: #404040;
	margin-top: 52px;
}
.text6{
	font-size: 12px;
	color: #d4d4d4;
	margin-top: 8px;
}
.shangou-bottom>ul>li .jiage{
	font-size: 16px;
	line-height: 52px;
	text-align: center;
}
.shangou-bottom>ul>li>div>span{
	color: #fa5100;
	font-size: 16px;
	margin-right: 5px;
}
..shangou-bottom>ul>li>div>del{
	color: #b3b3b3;
	font-size: 16px;
}
/* 小米闪购bottom结束 */


/* 为你推荐开始 */
.big-box{
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	margin: 0 auto;
	padding-bottom: 50px;
}
.zhengti{
	width: 1226px;
	height: 438px;
	margin: 0 auto;
}
.zhengti-top{
	width: 100%;
	height: 58px;
}
.zhengti-top-left{
	width: 90px;
	height: 58px;
	float: left;
	text-align: center;
	line-height: 58px;
	color: #979797;
	font-size: 22px;
}	
.zhengti-top-right{
	width: 71px;
	height: 26px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	float: right;
	margin-top: 16px;
}	
.jiantou-left{
	width: 35px;
	height: 24px;
	float: left;
	border-right: 1px solid #E0E0E0;
	box-sizing: border-box;
    color: #E0E0E0;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
}
.jiantou-right{
	width: 34px;
	height: 24px;
	float: left;
	color: #a9a9a9;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
}
.zhengti-bottom{
	width: 100%;
	height: 380px;
	overflow: hidden
}
.zhengti-bottom>ul{
	width: calc(1266px * 3);
	height: 380px;
	float: left;
	
}
ul,li{
	list-style: none;
}
.zhengti-bottom>ul>li{
	width: 234px;
	height: 380px;
	background: #fff;
	margin-left: 14px; 
	float: left;
	text-align: center;
}
.zhengti-bottom>ul>li:hover{
	transform: translateY(-3px);
	transition: all 0.5s;
	box-shadow: 0 3px 20px 5px #CAC2C2;
}
.zhengti-bottom>ul>li>img{
	margin-top: 70px;
}
.zhengti-bottom .xie{
	margin-left: 0;
}
.text-box1{
	color: #565656;
	font-size: 16px;
	margin-top: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 17px;
}
.text-box2{
	color: #ff954b;
	font-size: 16px;
	margin-top: 15px;
}
.text-box3{
	color: #777;
	font-size: 16px;
	margin-top: 18px;
}
/* 为你推荐结束 */

.reping{
	width: 1226px;
	height: 475px;
	margin: 22px auto;
	
}
.reping>ul{
	width: 1226px;
	height: 475px;
	background: red;
}
.reping .top-box{
	width: 1226px;
	height: 58px;
}
.reping .top-box .left{
	float: left;
	font-size: 22px;
	line-height: 58px;
	color: #696969;
}
.reping .bottom-box>ul>li{
	float: left;
	background: #FFF;
	width:296px;
	height: 417px;
	margin-left: 14px;
	position: relative;
}
.reping .bottom-box>ul>li:hover{
	transform: translateY(-3px);
	transition: all 0.5s;
	box-shadow: 0 3px 20px 5px #CAC2C2;
}
.reping .bottom-box .rp{
	margin-left: 0;
	position: relative;
}
.reping .bottom-box>ul>li>img{
	width:296px;
	height: 222px;
}
.reping .bottom-box .text1{
	margin-top: 32px;
	padding:0 27px;
	font-size: 16px;
	color: #848484;
	text-align: center;
	line-height: 24px;
}
.reping .bottom-box>ul>li .text2{
	margin-top: 28px;
	font-size: 12px;
	color: #e7e7e7;
	line-height: 20px;
	position: absolute;
	left: 40px;
	bottom: 58px;
}	
.reping .bottom-box>ul>li .text3{
	margin-top: 15px;
	font-size: 16px;
	color: #848484;
	position: absolute;
	left: 40px;
	bottom: 10px;
}
.reping .bottom-box>ul>li>div>span{
	color: #848484;
}
.reping .bottom-box>ul>li>div>a{
	color: #ff7314;
}

/* 底部开始 */
.dibu{
	width: 100%;
	height: 272px;
}
.dibu .dibu-top{
	width: 1226px;
	height: 80px;
	margin: 0 auto;
}
.dibu .dibu-top .fuwu,.fuwu1{
	width: 245.2px;
	height: 25px;
	float: left;
	margin-top: 30px;
	border-right: 1px solid #e0e0e0;
	box-sizing: border-box;
	font-size: 16px;
    line-height: 25px;
    text-align: center;
	color: #000;
}
.dibu .dibu-top .fuwu:hover{
	color: #ff6700;
}
.dibu .dibu-top .fuwu1:hover{
	color: #ff6700;
}
.fuwu1{
	border: 0;
}
.dibu .dibu-bottom{
	width: 1226px;
	height: 192px;
	margin: 0 auto;
	border-top: 1px solid #e0e0e0;
}
.dibu-left{
	width: 960px;
	height: 112px;
	float: left;
	margin-top: 40px;
}
.dibu-left .bang{
	width: 160px;
	height: 100%;
	float: left;
}
.dibu-left .bang .text{
	width: 100%;
	height: 17px;
	font-size: 14px;
	line-height: 17px;
	text-align: left;
	margin-bottom: 30px;
}
.dibu-left .bang .text1{
	width: 100%;
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	margin-top: 10px;
	color: #757575;
}
.dibu-left .bang .text1:hover{
	color: #FF6700;
}
.dibu-right{
	width: 252px;
	height: 112px;
	float: right;
	margin-top: 40px;
	border-left: 1px solid #e0e0e0;
}
.dibu-right .tel{
	width: 251px;
	height: 22px;
	margin-bottom: 5px;
	font-size: 22px;
    line-height: 22px;
    color: #ff6700;
	text-align: center;
}
.dibu-bottom .dibu-right .time{
	width: 251px;
	height: 18px;
	font-size: 12px;
	text-align: center;
    color: #616161;
		/* background: yellow; */
	line-height: 18px;
}
.dibu-right .time1{
	/* margin-bottom: 17px; */
	width: 251px;
	height: 18px;
	font-size: 12px;
	text-align: center;
		color: #616161;
	line-height: 18px;
}
.dibu-right .kefu{
	width: 120px;
	height: 30px;
	background: #fff;
	border: 1px solid #ff6700;
	margin: 0 auto;
	font-size: 12px;
    line-height: 30px;
	color: #FF6700;
	text-align: center;
}
.dibu-right .kefu:hover{
	background: #FF6700;
	color: #fff;
}
/* 底部结束 */
/* 大底开始 */
.dadi{
	width: 100%;
	height: 292px;
	background: #f5f5f5;
	overflow: hidden;
}
.dadi .laji{
	width: 1226px;
	height: 232px;
	background: #f5f5f5;
	margin: 30px auto;
	overflow: hidden;
	position: relative;
}
.dadi .laji img{
	float: left;
}
.dadi .laji .text1{
	width: 900px;
	height: 19px;
	float: left;
	margin-left: 10px;
}
.dadi .laji .text1 .gun{
	font-size: 12px;
	color: #b0b0b0;
	float: left;
	margin: 0 2px;
}
.dadi .laji .text1 a{
	font-size: 12px;
	line-height: 19px;
	color: #757575;
	height: 19px;
	float: left;
}
.dadi .laji .text1 a:hover{
	color: #FF6700;
}
.dadi .laji .text1 .a1{
	border: 0;
}
.dadi .laji .text2{
	width: 900px;
	height: 19px;
	float: left;
	margin-left: 10px;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 19px;
}
.dadi .laji .text3{
	width: 900px;
	height: 19px;
	float: left;
	margin-left: 66px;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 19px;
}
.xiaomi{
	width: 267px;
	height: 19px;
	font-size: 19px;
	line-height: 19px;
	text-align: center;
	margin-top: 180px;
	color: #b0b0b0;
	margin: 190px auto 0px auto;
}
.laji .five{
	width: 260px;
	float: right;
	position: absolute;
	right: 0px;
	top: 160px;
}
.laji .five img{
	width: 85px;
	height: 28px;
	margin-bottom: 15px;
}
/* 大底结束 */